[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.1.12"
djangorestframework = "==3.12.4"
pillow = "==8.3.2"
python-decouple = "==3.4"
redis = "==3.5.3"
celery = {extras = ["redis"], version = "*"}
flower = "==1.0.0"
django-cors-headers = "==3.9.0"
readtime = "==1.1.1"
drf-spectacular = {version = "==0.21.1", extras = ["sidecar"]}

[dev-packages]
isort = "==5.9.3"

[requires]
python_version = "3.8"
