{% extends "accounts/base_email.html" %}

{% block content %}
  <p>Hi {{ user_firstname }},</p>
  <p>You're receiving this email because you requested a password reset for your Qenea account.</p>
  <p>
    Click the link below to continue:
    <a
      href="{{ password_reset_confirm_url }}"
      style="display: block; text-align: center; padding: 0.85em; margin-top: 1em; border-radius: 0.35em;
            background-color: #2076e0; color: #fafafa;">
      Reset My Password
    </a>
  </p>
{% endblock content %}